body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5DC;
}

/* --------------------------------------------- */

#create-election-button{
   
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
#create-election-button:hover{
background-color: #0056b3;
}
#form-election {
    display: none;
    margin-top: 20px;
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

#form-election input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#form-election button {
    padding: 8px 20px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}
#cancel-election {
    background-color: red;
    color: white;
    border: none;
}
#createElectionButton {
    background-color: green;
    color: white;
    border: none;
}
/* ------------------------------------------------------------ */

/* ứng cử viên */
#connect-button, #add-button {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#connect-button:hover, #add-button:hover {
    background-color: #0056b3;
}

#wallet-address {
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
}

.voting-form {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.candidate-list {
    margin: 20px 0;
}

.candidate {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

.candidate-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.candidate-header span {
    font-size: 18px;
    font-weight: bold;
}
.vote-button {
    padding: 5px 15px;
    font-size: 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#vote-button:hover {
    background-color: darkgreen;
}
#show-button{
    padding: 5px 15px;
    font-size: 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button {
    padding: 5px 15px;
    font-size: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* margin-top: 10px; */
    margin-right:200px;
}
.delete-button:hover {
    background-color: darkred;
}
.update-button {
    padding: 5px 15px;
    font-size: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-right:200px;
}
.update-button:hover {
    background-color: darkblue;
}

#add-candidate-form {
    display: none;
    margin-top: 20px;
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

#add-candidate-form input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-candidate-form button {
    padding: 8px 20px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}
#cancel-button {
    background-color: red;
    color: white;
    border: none;
}
#cancel-button:hover {
    background-color: darkred;
}

#confirm-add-button {
    background-color: green;
    color: white;
    border: none;
}

#confirm-add-button:hover {
    background-color: darkgreen;
}


.candidate-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
}



/*-----------------------------------------------------  */

/* cư tri */
#connect-button , #add-voter-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#add-voter-form {
    display: none;
    margin-top: 20px;
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

#add-voter-form input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-voter-form button {
    padding: 8px 20px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

#cancel-voter-button {
    background-color: red;
    color: white;
    border: none;
}

#cancel-voter-button:hover {
    background-color: darkred;
}

#confirm-add-voter-button {
    background-color: green;
    color: white;
    border: none;
}

#confirm-add-voter-button:hover {
    background-color: darkgreen;
}


#add-form-voter {
    display: none;
    margin-top: 20px;
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

#add-form-voter input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-form-voter button {
    padding: 8px 20px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}
#show-button-voter  {
    padding: 5px 15px;
    font-size: 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.voter-form {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}