<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
  <title>Trang Admin</title>
  <link rel="stylesheet" href="admin.css">
</head>

<body>
  <div style="font-size: 30px;" class="admin">Admin</div>
  <a  href="/Template/user/index.html" style="">Đến User</a>
  <button id="connect-button">Đăng Nhập Tài Khoản</button>
  <div id="wallet-address">Địa chỉ ví: ...</div>

  <div id="election-time-list" style="font-size: 20px; margin-top: 20px; color: blue;">
    Đang tải thông tin bầu cử...
  </div>
  <!-- <button id="end-election-button" style="display: none;">Kết thúc bầu cử</button> -->

  <div style="display: flex;justify-content: space-between;align-items: center;margin-bottom: 10px;" class="add">
    <button id="create-election-button" style="display: none ;" ; > tạo cuộc bầu cử</button>
    <button id="add-button"style="display: none;" >Thêm ứng cử viên</button>
    <button id="add-voter-button" style="display: none; margin-left: 10px;">Thêm cử tri</button>
  </div>
  <br>

  <div style="display: flex;justify-content: space-between;align-items: center;margin-bottom: 10px;" class="showlist">
    <!-- thêm ứng cử viên -->
    <button id = "show-button"        style="display: none;">Hiển thị ứng cử viên</button>
    <button id = "show-button-voter"  style="display: none; margin-left: 10px;">Hiển thị cử tri     </button>
  </div>

  <div id="add-candidate-form">
    <h3>Thêm Ứng Cử Viên</h3>
    <input type="text" id="candidate-name" placeholder="Tên ứng cử viên">
    <button id="cancel-button">Cancel</button>
    <button id="confirm-add-button">Add</button>
  </div>

   <!-- thêm cử tri -->
  <div style="display: none;" id="add-form-voter">
      <h3>Thêm Cử Tri</h3>
      <input type="text" id="voter-name" placeholder="Tên cử tri">
      <input type="text" id="voter-address" placeholder="ID cử tri">
      <button id="cancel-voter-button">Cancel</button>
      <button id="confirm-add-voter-button">Add</button>
  </div>

<!-- ---------bầu cử form--------------------------------------------------------------------------------------------- -->
  <div style="display: none;" id="form-election">
      <h3>Thêm cuộc bầu cử</h3>
      <input type="text" id="election-name" placeholder="Tên cuộc bầu cử">
      <input type="number" id="election-time" placeholder="Thời gian">
      <button id="cancel-election">Cancel</button>
      <button id="createElectionButton">Tạo Cuộc Bầu Cử</button>
  </div>
<!-- ------------------------------------------------------------------------------------------------------ -->

  <div class="voting-form" id="voting-form">
    <h3>Danh Sách Ứng Cử Viên</h3>
    <div class="candidate-list" id="candidate-list"></div>
        <!-- Ứng cử viên sẽ được tạo tự động tại đây -->
  </div>

  <div class="voter-form" id="voter-form">
    <h3>Danh Sách Cử Tri</h3>
    <div class="voter-list" id="voter-list"></div>
        <!-- cử tri sẽ được tạo tự động tại đây -->
  </div>








  <script src="/FrontEnd/mainAdmin.js"></script>
  <script src="/FrontEnd/constant.js"></script>
  <script src="/FrontEnd/contract.js"></script>
  <script src="/FrontEnd/wallet.js"></script>


  <script src="/Template/admin/admin.js"></script>

</body>

</html>
